body {
  margin: 0;
  padding: 0;
}

#post-button {
  background-color: purple;
  border-radius: 10%;
  color: white;
}

#post-body {
  font-size: x-large;
}

#comment-username {
  font-family: Helvetica;
  font-size: small;
  font-style: oblique;
}

#comment-time {
  font-family: Helvetica;
  font-size: x-small;
}

#comment-body {
  font-size: medium;
}

#like {
  background-image: url('images/empty_thumbsup.png');
  background-size: 15px 15px;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-style: none;
  background-repeat: no-repeat;
  background-size: cover;
}

#liked {
  background-image: url('images/filled_thumbsup.png');
  background-size: 15px 15px;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-style: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  margin: auto;
  width: 50%;
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  width: 100%;
  border: 1px solid #E5E5E5;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.post h1 {
  margin: 0;
  text-align: center;
}

.post h2 {
  margin: 0;
  font-size: 20px;
}

.post p {
  margin: 0;
  font-size: 18px;
  padding-top: 5%;
}

.post a {
  color: #0079D3;
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
}

.comment {
  width: 80%;
  border: 1px solid #E5E5E5;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.comment h2 {
  margin: 0;
  font-size: 20px;
}

.comment p {
  margin: 0;
  font-size: 14px;
  color: #666666;
}

.comment a {
  color: #0079D3;
  text-decoration: none;
}

.comment a:hover {
  text-decoration: underline;
}