<!DOCTYPE html>
<html lang="en">

<head>
    <title>BanterBox</title>
    <meta charset="UTF-8">
    <title>Banter box login page </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='signup.css') }}">
    <script src="{{ url_for('static',filename='login.js') }}"></script>
</head>
<body>

    <header>
        <h1>Banter Box</h1>
    </header>

  <center> <form action="url" class="container" name="loggedin">
        <h1 class="label">Login</h1>
        <div class="login_form">
            <div class="font">Username</div>
            <input autocomplete="on" type="text" name ="email" id="email">
            <div id="email_error">Please fill Username</div>
            <div class="font font2">Password</div>
            <input type="password" name="password" id = "password">
            <div id="pass_error">Please fill up your Password</div>
            <input type="button" value="Login" class="submit-btn" onclick="auth_login()" />
            <!-- <input type="button" value="signup" class="signUp"   /> -->
            <input type="button" value="Signup" class="signUp" onclick="location.href='/signin'" />
    </form> </center>
    </div>
</body>

<footer>
    <p> CSE 106 Final Project by: Luis, Erick, Abel </p>
</footer>


</html>