<!DOCTYPE html>
<html>
  <head>
    <title>BanterBox</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='profile.css') }}">
    <script src="{{ url_for('static',filename='profile.js') }}"></script>
  </head>
  <body onload="displayProfile({{id}})">
    <!-- Navigation Bar -->
    <ul>
      <li><a href="http://127.0.0.1:5000/loginIntoHome/{{id}}">Home</a></li>
      <li><a class="active" href="http://127.0.0.1:5000/loginIntoProfile/{{id}}">profile</a></li>
    </ul>

    <main class="container" id = "profile">
    </main>

  </body>
</html>