<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='profile.css') }}">
    <script src="{{ url_for('static',filename='profile.js') }}"></script>
  </head>
  <body onload="displayProfile(20)">
    <!-- Navigation Bar -->
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>

    <main class="container" id = "profile">
    </main>

  </body>
</html>